/* main.css */

body {
  background: linear-gradient(rgb(25 27 41 / 99%), rgb(25 27 41 / 99%)),url("/images/unbotme.svg");
  background-position: 14%;
  background-repeat: repeat;
  background-size: 18%;
  line-height: inherit;
}

.p-button {
  background: var(--primary-color);
  border: 1px solid var(--primary-color);
}

.p-button:hover {
  background: var(--primary-light);
  border: 1px solid var(--primary-color);
}

.p-button:focus {
  box-shadow: 0 0 0 2px #1c2127, 0 0 0 4px rgba(var(--primary-light-rgb), 0.7), 0 1px 2px 0 rgb(0 0 0 / 0%);
}

.p-button-danger {
  color: #300d12;
  background: var(--danger-color);
  border: 1px solid var(--danger-color);
}

.p-button-danger:hover {
  background: var(--danger-light);
  border: 1px solid var(--danger-color);
}

.p-button-danger:focus {
  box-shadow: 0 0 0 2px #1c2127, 0 0 0 4px rgba(var(--danger-light-rgb), 0.7), 0 1px 2px 0 rgb(0 0 0 / 0%);
}

.p-card {
  background-color: var(--secondary-color);
  border: 2px solid var(--bs-border-color);
}

#info {
  --bs-border-color: rgba(var(--bs-primary-rgb), .5);
}

#danger {
  --bs-border-color: rgba(var(--danger-color-rgb), .5);
}

.p-card-content {
  padding: 0;
}

.p-card .text-muted {
  color: #c1c1c1!important;
}

ul, ol {
  padding-left: 1rem;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}